body {
	font-family: 'Press Start 2P', cursive;
	background-image: url("images/Background.png");
	background-position: bottom;
}

header {
	text-align: center;
}

h1 {
	margin: 0;
	padding: 10px 0;
	color: #1a1a1a;
}

.img-wrapper {
	height: 90%;
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.link {
	width: 8%;
	height: auto;
	transition: all 0.1s linear;
}

.rupee {
	width: auto;
	height: 6%;
}

.score-timer {
	text-align: right;
	padding: 0 50px;
}

.rupee-score {
	width: 20px;
	height: auto;
}

.wrapper {
	display: flex;
	height: 600px;
}

.rupee-wrapper {
	height: 69px;
	width: 57px;
}

.hidden {
	display: none;
}