

body {
	font-family: 'Press Start 2P', serif;
	background-image: url("images/Background.png");
	background-position: bottom;
	background-repeat: repeat-x;
}

header {
	text-align: center;
}

h1 {
	margin: 0;
	padding: 10px 0;
	color: #1a1a1a;
}

a {
	color: white;
}

button {
	margin: 40px auto;
	background-color: white;
	font-family: 'Press Start 2P', serif;
	font-size: 20px;
	padding: 0.5em;
	border-radius: 10px;
}

.win-screen {
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: black;
	color: white;
	position: absolute;
}

.total {
	padding-top: 200px;
	text-align: center;
}

.link {
	width: 8%;
	height: auto;
	transition: all 0.1s linear;
}

.rupee {
	height: auto;
	width: 30%;
}

.rupee-wrapper {
	height: 60px;
	width: 8%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.score-counter {
	font-size: 20px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-self: flex-start;
	flex-direction: column;
	color: white;
	text-align: center;
}

.arrows {
	display: flex;
	width: 100%;
	color: black;
	margin-top: 20px;
	justify-content: space-between;
}

.arrow-left, 
.arrow-right {
	margin: 0 2em;
}

.rupee-score img {
	width: 15px;
	height: auto;
}

.rupee-timer {
	margin-top: 60px;
}

.rupee-timer,
.rupee-score {
	padding: 10px 0;
}

.wrapper {
	display: flex;
	height: 93vh;
	width: 100vw;
	display: flex;
	align-items: flex-end;
}

footer {
	color: white;
}

.hidden {
	display: none;
}